.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

#projects {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
}

/* My char section */
.char-box {
    background-color: #0c6efd;
    border-radius: 10px;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
}

.char-box::before {
    content: 'MY';
    position: absolute;
    color: #fff;
    font-size: 6em;
    font-weight: bold;
    font-style: italic;
    left: -100px;
    top: 30px;
    transition: 0.5s;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.char-box:hover::before {
    opacity: 0.2;
}

.char-box::after {
    content: 'CHAR';
    position: absolute;
    color: #fff;
    font-size: 4.3em;
    font-weight: bold;
    font-style: italic;
    left: 50%;
    transform: translate(-50%, 0);
    top: 350px;
    transition: 0.5s;
    opacity: 0;
}

.char-box:hover::after {

    opacity: 0.2;
}

.char-name {
    color: white;
    text-align: center;
    font-size: 2em;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    top: 0;
    width: 100%;
    transform: translate3d(0, 0, 50px);
}

.char-box:hover .char-name {
    top: 20px;
    opacity: 1;
}

.char-detail-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 100px);
    opacity: 0;
    transition: 0.5s;
}

.char-box:hover .char-detail-button {
    opacity: 1;
    bottom: 20px;
}

.char-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 80px);
    max-width: 150px;
    transition: 0.5s;
}

.char-box:hover .char-img {
    transform: translate3d(-50%, -50%, 100px) scale(1.2) rotate(5deg);
}

@media (min-width: 992px) {
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #ffffff;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
}